
.category-title{
	color: #e97812;
}
.toolbar{
	border-top: none;
	border-bottom: none;
}
input.input-text, select, textarea{
	border-radius: 5px;
}
label{
	float: none;
}
.left-column{
	width: 70%;
	float: left;
}
.right-column{
	width: 30%;
	float: right;
}
.products-list li.item{
	margin-bottom: 35px;
	border-radius: 7px;
	border: 1px solid #e5e5e5 !important;
	padding-left: 10px;
}
.products-list .desc li{

}
.products-list .product-shop-inner{
	border-right: none;
}
.products-list .product-image img{

}
.product-name{
	font-weight: bold;
	font-size: 16px;
}
.products-list .price-box{
	float: left;
	margin: 20px 20px 0px 0px;
}
.products-list .btn-cart{
	width: auto;
	margin-top: 10px;
}
.button{
	background-color: #190a51 !important;
	color: #fff !important;
	border-radius: 7px;
	font-size: 14px;
}
.price-box .price{
	color: #e97812 !important;
	font-size: 25px !important;
}
.price-box .price:after{
	content: "(Incl. VAT)";
	font-size: 12px;
	color: #aaa;
	margin-left: 10px;
}
.products-list .ratings{
	float: left;
	margin: 25px;
}

.toolbar .pager{
	border-top: none;
}
/* ======================Right column=====================================*/
.banner-bss{
	background-color: #e97812;
	width: 67%;
	height: 100px;
	padding: 20px 25px;
	text-align: center;
	margin-bottom: 25px;
	border-radius: 7px;
}
.banner-bss span{
	color: #fff;
	font-size: 16px;

}.btn-bss{
	width: 156px;
	height: 40px;
	background-color: #190a51;
	border: none;
	border-radius: 7px;
	margin: 10px 0px;

}
.banner-buttom{
	border-radius: 5px;
	background-image: url('banner.png');
	color: #fff;
}
.title-banner{
	margin-top: 10px;
	padding-top: 10px;
	font-weight: normal;
	text-align: center;
	border-bottom: 1px solid #f3f3f3;
	text-transform: uppercase;
	line-height: 40px;
	font-size: 12px;
}
.banner-buttom ul{
	padding: 10px;
}
.banner-buttom ul h4{
	color: #e97812;
	font-size: 15px;
}
.banner-buttom ul li{
	border-bottom: 1px solid #f3f3f3;
	padding: 10px 0px;
}
.banner-buttom ul li:last-child{
	border-bottom: none;
}
.banner-buttom img{
	width: 56px;
	height: 76px;
	float: left;
	margin-right: 10px;
}
/*===============================RESPONSIVE=================================*/
@media only screen and (min-width: 1280px){

.col-main .grid12-12 .grid-col2-main .no-gutter .category-description .std{
	width: 100% !important;
}
	.container{
		max-width: 1140px !important;
		background: none !important;
	}
}